@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #ece9e6;
    background: -webkit-linear-gradient(
        to right, 
        #ffffff,
        #ece9e6
    );
    background: linear-gradient(
        to right, 
        #ffffff,
        #ece9e6
    );
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.mobile-container {
    background-color: #fff;
    width: 400px;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header input {
    background-color: #eee;
    border:none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    color: rgb(103, 97, 105);
    font-family: inherit;
}

header button {
    background-color: transparent;
    border: none;
    color: rgb(138,129, 141);
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav-container {
    background-color: rgb(243, 225, 255);
    padding: 0.2rem 1rem;
    text-align: center;
}

.fav-meals {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.fav-meals li {
    position: relative;
    width: 100px;
    margin: 5px;
    cursor: pointer;
}

.fav-meals li img {
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-meals li span {
    display: inline-block;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

.fav-meals li:hover span {
    white-space: normal;
    overflow: auto;
    width: auto;
}

.fav-meals li .clear {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    opacity: 0.5;
    top: 0;
    right: 0;
    color: rgb(0, 0, 0);
}

.fav-meals li .clear:hover {
    opacity: 1;
    color: rgb(223, 12, 40);
}

.meal {
    margin: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331a;
    overflow: hidden;
    cursor: pointer;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #ffffff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}    

.meal-header img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(197, 188, 188);
}

.meal-body .fav-btn:hover {
    transform: scale(1.4);
    transition: transform 0.1s;
}

.meal-body .fav-btn.active {
    color: rgb(125, 37, 212);
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0,0,0, 0.5);
    left: 0;
    right:0;
    bottom: 0;
    top: 0;
}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: #fff;
    padding: 0 2rem;
    border-radius: 5px;
    max-width: 600px;
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    position: relative;
}

.popup h1 {
    text-align: center;
}

.popup img {
    width: 100%;
    max-height: 300px;
}

.popup .close-popup {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

